<section class="section main-interface">
    <div class="columns">

      <!-- this div will contain a div for each customer -->
      <!-- the data-customers attribute is the number of customers -->
      <div class="column customers" data-customers={{customers}}>

        <!-- customer divs are built here dynamically -->

        <div>
          <button class="button submit">Submit Payment</button>
        </div>

      </div>

      <!-- this div contains the check -->
      <div class="column bill">
        <h3>the check</h3>
        
        <!-- unordered list for the bill items -->
        <!-- "id=list0" indicates that this list is the original check -->
        <!-- the billID is stored as an attribute -->
        <ul class="main-item" data-containerID="0" data-bill-id={{billID}} id="list0">
          {{#each billItems}}
              <li id="li{{bill_item_id}}" data-price="{{price}}" data-tax-percent="{{tax_percent}}" data-customer-id={{customer_id}}>
                <span>
                  <p>{{description}}</p><p class="price">${{price}}</p>
                    <select name="customers" id="dd{{bill_item_id}}">
                      <option value="1">Customer 1</option>
                      <option value="2">Customer 2</option>
                    </select>
                    <button class="move-button" id="{{bill_item_id}}">move it!</button>
                </span>
              </li>
          {{/each}}
        </ul>
        <ul class="main-item">
          <li class="list-style-2"><span>Subtotal<p id="subTotalCheck" class="price">$0.00</p></span></li>
          <li class="list-style-2"><span>Tax<p id="taxCheck" class="price">$0.00</p></span></li>
          <li class="total"><span>Total<p id="totalCheck" class="price">$0.00</p></span></li>
        </ul>
      </div>
    </div>
</section>

<script src="../assets/js/split-bill.js"></script>
