<section class="section main-interface">
    <div class="columns">

      <div class="column customers" data-customers={{customers}}>

        <!-- EMPTY STATE -->
        <div class="user-content">
          <form>
            <input class="input" type="text" placeholder="@venmo username" id="venmo-handle">
            <button type="submit" id="submitVenmo">Submit</button>
          </form>
          <div class="user-items">
            <ol id=test></ol>
          </div>
        </div>

        <!-- FILLED STATE -->
        <div class="user-content">
          <input class="input" type="text" placeholder="@venmo username">
          <div class="user-items">
            <ul class="bill-item">
              <li><span><p>Pizza</p><p class="price">$9.00</p></span></li>
              <li class="list-style-2"><span><p>Tax</p><p class="price">$.90</p></span></li>
              <li class="list-style-2"><span><p>Tip</p><p class="price">$2.00</p></span></li>
              <li class="total"><span><p>Total</p><p class="price">$11.90</p></span></li>
            </ul>
          </div>
          <p class="select-tip">Select Tip Amount</p>
          <ul class="tip-amount">
            <li><button class="button">15%</button></li>
            <li><button class="button">18%</button></li>
            <li><button class="button selected">20%</button></li>
            <li><button class="button">22%</button></li>
          </ul>
          <button class="button submit">Submit Payment</button>
        </div>

      </div>

      <div class="column bill">
        <h3>the check</h3>
        <ul class="main-item" data-containerID="0">
          {{#each billItems}}
              <li data-bill-item-id="{{bill_item_id}}" data-price="{{price}}" data-tax-percent="{{tax_percent}}" data-customer-id={{customer_id}}>
                <span>
                  <p>{{description}}</p><p class="price">${{price}}</p><button class="move-button">move it!</button>
                </span>
              </li>
          {{/each}}
          {{!-- <li><span><p>Fancy Cheeseburger</p><p class="price">$20.00</p></span></li>
          <li><span><p>Soda</p><p class="price">$2.00</p></span></li>
          <li class="list-style-2"><span><p>Tax</p><p class="price">$2.20</p></span></li>
          <li class="list-style-2"><span><p>Tip</p><p class="price">$4.40</p></span></li>
          <li class="list-style-2 total"><span><p>Total</p><p class="price">$28.60</p></span></li> --}}
        </ul>
      </div>

    </div>
</section>

<script src="../assets/js/split-bill.js"></script>
